* {
    font-size: 20px;
}

.megacontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
}

.subcontainer{
    width: 80vw;
    flex-grow: 1;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
    
@media screen and (max-width: 800px) {
    .subcontainer{
        width: 95%;
    }
}