@font-face {
    font-family: "et";
    src: url("./fonts/et-book-bold-line-figures.ttf");
    font-display: swap;
}

*{
    max-width: 100vw !important;
}

h1{
    line-height: 45px;
}

body{
    font-family: "et" !important;
}