.custom-img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}
  
.unset-img {
    width: 80%;
    padding: 10px;
}

.unset-img > div {
    position: unset !important;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}

.softwareinvite > a {
    color: rgb(0, 240, 180);
    text-decoration: underline;
}


.project{
    border: 1px rgb(182, 182, 182) solid;
    border-radius: 5px;
    background: rgb(27, 26, 26);
    color: rgb(233, 233, 233);
}

.projectsH1{
    text-align: center;
}

.projectHeading{
    font-size: 35px;
}

.softwareContainer{
    margin-top: 50px;
}